@font-face {
  font-family: HolyCream;
  src: url("src/assets/fonts/HolyCream-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}
@import "tailwindcss";

@theme
{
    --font-holycream: HolyCream, "sans-serif"
}